<canvas #rootCanvas></canvas>

<app-ground></app-ground>
<app-sphere #first [x]="1"></app-sphere>
<app-sphere #second [x]="secondSphereValue"></app-sphere>
<app-light #light></app-light>
<app-camera></app-camera>
